@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-center">
    <h1 class="display-4">Admin Page</h1>
</div>

<div class="row">
    <div class="col-12 text-center">
        <p>Congrats! You should only be able to see this page if you're in the "admin" Cognito group.</p>
    </div>
</div>