@{
    ViewData["Title"] = "Access Denied";
}

<div class="text-center">
    <h1 class="display-4">Access Denied</h1>
    <p>You need to be authorized and/or have the correct policies to view this page.</p>
    <p><a href="/">Click here to return home.</a></p>
</div>
